* {
  padding: 0;
  box-sizing: border-box;
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
}


input,
button {
  width: 100%;
  height: 52px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  border-radius: 50px;
}

.container {
  position: relative;
  width: 400px;
  padding: 24px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-bottom: 24px;
  text-align: center;
  color: rgb(231, 226, 226);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.social-login,
.social-login button,
.social-login i {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.social-login button {
  justify-content: flex-start;
  width: 160px;
  margin: 12px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.social-login button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.social-login i {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.4em;
  margin: 10px;
}

i.fa-facebook-f {
  color: #3b5998;
}

i.fa-google {
color: #BB001B;
}


.or {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or span {
  width: 100%;
  border-top: 1px dashed;
  margin: 24px;
}

/*  ----  Login Form   ----   */

form {
  width: 100%;
}
.controls {
  margin-bottom: 24px;
}

.controls label {
  display: block;
  letter-spacing: 0.5px !important;
  margin-bottom: 8px !important;
}

.controls input {
  letter-spacing: 0.5px;
  font-size: 1.1em;
  padding: 0 24px;
}

.controls input::placeholder {
  color: #ddd;
}

button[type="submit"] {
  background-color: #ecbb08;
  color: #023262;
  font-size: 1.3em;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 16px 0;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ffc800;
}

.additional-act {
  width: 100%;
  text-align: center;
  letter-spacing: 0.7px;
  margin: 8px;
}

.additional-act span {
  color: #ecbb08;
  cursor: pointer;
}