<div class="container">
    <div class="row">
        <div class="mt-5">
            <h6 class="title">PLEASE ENTER YOUR EMAIL </h6>
            <h6 class="title">TO GET A VERFIFICATION </h6>
            <h6 class="title">LINK</h6>
            <br>
        </div>
    </div>
    <form>
        <div class="controls mt-5">
            <input type="email" name="email" placeholder="Enter your email."
            required [(ngModel)]="email">
        </div>
        <div [ngStyle]="{'color':'lightgreen'}" *ngIf="success">{{message}}</div>
        <div [ngStyle]="{'color':'#f13242'}" *ngIf="!success">{{error}}</div>
        <button type="submit" (click)="sendEmail()">Send</button>
    </form>

</div>