
<div class="container mt-4">
    <div class="row pt-4 pb-4">
        <div  *ngFor="let user of users; let i = index">

            <div class="divContainer" *ngFor="let survey of users[i].local.surveys; let i = index" class="pt-5">
                <div>
                    <h1>survey of user: {{survey?.userId?.local?.email}}</h1>
                </div>
                <div class="surveyDiv">
                    <p>Question: {{survey.title}} ?</p>
                    <!-- <p>Details: {{survey.description}}</p> -->
                    <!-- <mat-radio-group [(ngModel)]="answer" aria-label="Select an option">
                        <span class="radio-one">
                            <mat-radio-button value="yes" [disabled]="">Yes</mat-radio-button>
                        </span>
                        <span>
                            <mat-radio-button value="no">No</mat-radio-button>
                        </span>
                    </mat-radio-group> -->
                    <div class="controls">
                        <input type="text" [formControl]="select" placeholder="YES / NO">
                    </div>
                    <button class="button" (click)="submitChoice(survey._id)">
                        <span>
                            <i class="fas fa-check"> Submit</i>  
                        </span> 
                    </button>
                </div>
                <div class="percentage mt-1">
                    <ul>
                        <li class="yes"><span >YES:   {{survey.yesPercentage.toFixed(2) }} % </span></li>
                        <li><span>NO:   {{survey.noPercentage.toFixed(2) }} %</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="!users.length">
            <h3>No surveys posted yet </h3>
        </div>
    </div>
</div>