<!-- 
<div class="container">

    <h2 class="text-center mt-4">Surveys list</h2>
    <div class="card" *ngFor="let user of users; let i = index">
        <div class="card-body" *ngFor="let survey of users[i].surveys; let i = index">
            <div>

                <h1>surveys of user: {{survey?.userId?.email}}</h1>
                <div class="row jumbotron ">
                    <div class="col-sm-4 form-group">
                        <label for="ttile">title</label>
                        <input type="text" class="form-control" readonly value="{{survey.title}}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="pass">description</label>
                        <textarea type="text" class="form-control" id="pass" readonly>{{survey.description}}</textarea>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="ttile">reply</label>
                        <input type="text" class="form-control" [formControl]="select" [disabled]="disable == true">
                    </div>
                    <div class="form-group">
                        <div>
                            YES: {{survey.yesPercentage.toFixed(2) }} %
                        </div>

                        <div>
                            NO: {{survey.noPercentage.toFixed(2) }} %
                        </div>
                    </div>

                    <div class="col-sm-12 form-group mb-0">
                        <button class="btn btn-danger offset-6" (click)="submitChoice(survey._id)">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="container mt-4">
    <div class="row pt-4 pb-4">
        <div  *ngFor="let user of users; let i = index">

            <div class="divContainer" *ngFor="let survey of users[i].local.surveys; let i = index" class="pt-5">
                <div>
                    <h1>survey of user: {{survey?.userId?.local?.email}}</h1>
                </div>
                <div class="surveyDiv">
                    <p>Question: {{survey.title}} ?</p>
                    <!-- <p>Details: {{survey.description}}</p> -->
                    <!-- <mat-radio-group [(ngModel)]="answer" aria-label="Select an option">
                        <span class="radio-one">
                            <mat-radio-button value="yes" [disabled]="">Yes</mat-radio-button>
                        </span>
                        <span>
                            <mat-radio-button value="no">No</mat-radio-button>
                        </span>
                    </mat-radio-group> -->
                    <div class="controls">
                        <input type="text" [formControl]="select" placeholder="YES / NO">
                    </div>
                    <button class="button" (click)="submitChoice(survey._id)">
                        <i class="fas fa-check"></i>  Submit
                    </button>
                </div>
                <div class="percentage mt-1">
                    <ul>
                        <li class="yes"><span >YES:   {{survey.yesPercentage.toFixed(2) }} % </span></li>
                        <li><span>NO:   {{survey.noPercentage.toFixed(2) }} %</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>