
<div class="container mt-4">
    <div>
        <h2 class="text-center">Add survey</h2>
        <div class="row jumbotron">
            <div class="col-sm-4 form-group">
                <label for="ttile">title</label>
                <input type="text" class="form-control" placeholder="title" required [(ngModel)]="title">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass">description</label>
                <textarea type="text" class="form-control" id="pass" placeholder="description" required
                    [(ngModel)]="description"></textarea>
            </div>
            <div class="col-sm-12 form-group mb-0">
                <button class="btn btn-primary offset-6" (click)="postSurvey()">save survey</button>
            </div>
        </div>
    </div>

    <h2 class="text-center">my surveys</h2>
    <div class="container" *ngFor="let survey of surveys">
        <div>
            <div class="row jumbotron">
                <div class="col-sm-4 form-group">
                    <label for="ttile">title</label>
                    <input type="text" class="form-control" readonly value="{{survey.title}}" >
                </div>
                <div class="col-sm-4 form-group">
                    <label for="pass">description</label>
                    <textarea type="text" class="form-control" id="pass" readonly >{{survey.description}}</textarea>
                </div>
                
                <div class="col-sm-12 form-group mb-0">
                    <button class="btn btn-danger offset-6" (click)="deleteSurvey(survey._id)">Delete</button>
                </div>
            </div>
        </div>
    
</div>