<div class="container mt-4">
    <div>
        <div class="row jumbotron">
            <div class="card-title">
                <h2>Create survey</h2>
            </div>
            <div class="controls col-sm-6 col-md-6 col-xs-6">
                <input type="text" placeholder="title" required [(ngModel)]="title">
            </div>
            <div class="controls col-sm-6 col-md-6 col-xs-4">
                <textarea type="text" id="description" placeholder="description" maxlength="120" required
                    [(ngModel)]="description"></textarea>
            </div>
            <div class="button">
                <button class="btn btn-primary" (click)="postSurvey()">save survey</button>
            </div>
        </div>
    </div>


    <div class="container" >
        <table class="table col-md-12 " *ngIf="surveys.length > 0">
            <thead>
                <tr id="header">
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let survey of surveys">
                <tr id="body">
                    <td>{{survey.title}} </td>
                    <td>{{survey.description}} </td>
                    <td><button class="btn btn-danger button del" (click)="deleteSurvey(survey._id)">X</button></td>
                </tr>
            </tbody>
        </table>

    </div>


</div>