<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container mt-4">
    <form [formGroup]="loginForm">
        <h2 class="text-center">Login</h2>
        <div class="row jumbotron justify-content-center">
            <div class="col-sm-4 form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email."
                    required formControlName="email">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass">Password</label>
                <input type="password" name="password" class="form-control" id="pass" placeholder="Enter your password."
                    required formControlName="password">
            </div>

            <div class="col-sm-12 form-group mb-0">
                <button class="btn btn-primary offset-6" (click)="login()">Login</button>
            </div>

        </div>
    </form>
</div>