
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
}

body { 
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  background-color: #3b5998;
  /* display: flex; */
  justify-content: center;
}


  