<div class="container">
    <h6 class="title">PLEASE ENTER YOUR </h6>
    <h6 class="title">NEW PASSWORD </h6>
    <form [formGroup]="resetPasswordForm" *ngIf="!success">
        <div class="controls mt-5">
            <!-- <label for="password">Password</label> -->
            <input type="Password" name="password" id="pass" placeholder="Enter your password" required
                formControlName="password">

        </div>
        <div class="controls">
            <!-- <label for="pass2">Confirm Password</label> -->
            <input type="Password" name="cnf-password" id="pass2" placeholder="Re-enter your password" required
                formControlName="confirmPassword">
        </div>
        <button type="submit" (click)="resetPassword()">Reset</button>
    </form>
    <h3 *ngIf="success">{{message}}</h3>
    <button class="additional-act btn btn-success" [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="success">
        <span> Survey App</span>
    </button>

</div>